
.SelectTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 16px;
  border-radius: var(--border-r);
  background-color: var(--trigger-bg);
  color: var(--amber);
  border: 1px solid var(--border);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.SelectTrigger:hover {
  color: var(--black);
}

.SelectTrigger:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(122, 119, 108, 0.8);
}

.SelectIcon {
  color: var(--amber);
}

.SelectTrigger[data-state="open"] .SelectIcon {
  transform: rotate(180deg);
}

.SelectContent {
  overflow: hidden;
  background-color: var(--background);
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  transform: translateY(-10px);
}

.light .SelectContent {
  background-color: var(--white);
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 1;
  color: var(--black);
}

.dark .SelectContent {
  background-color: var(--zinc);
}

.SelectContent[data-state="open"] {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.SelectViewport {
  padding: 4px;
  overflow-y: auto;
}

.SelectItem {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  font-size: 14px;
  color: var(--text);
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.SelectItem[data-disabled] {
  color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

.SelectTrigger {
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--border);
}

.SelectTrigger:hover {
  background-color: var(--trigger-hover-bg);
  color: var(--text);
}

.SelectItem:hover {
  background-color: var(--trigger-hover-bg);
  color: var(--text);
}

.SelectItem[data-highlighted] {
  background-color: var(--amber);
  color: var(--text);
}

.SelectItemIndicator {
  display: none;
}

.SelectLabel {
  padding: 8px 16px;
  color: var(--amber);
  text-transform: uppercase;
}

.SelectSeparator {
  height: 1px;
  background-color: var(--border);
  margin: 4px 0;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  color: var(--amber);
  cursor: pointer;
}
