@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "../../node_modules/.pnpm/@radix-ui+themes@3.1.6_@types+react-dom@18.3.5_@types+react@18.3.17__@types+react@18.3.17_rea_q4opp3rzulrg6syxywa2r35jja/node_modules/@radix-ui/themes/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyan: #00b7c2;
  --blue: #11c4fa;
  --amber: #f9a825;
  --black: #000000;
  --zinc: #2b2b2b;
  --white: #e0e0e0;

  --text-light: var(--zinc);
  --text-dark: var(--white);
  --border-light: var(--white), 0.1;
  --border-dark: #2b2b2b;

  --background-light: var(--white);
  --background-dark: #121212;
  --trigger-hover-bg: var(--amber);
  --border-r: 8px;
}

.light {
  --background: var(--background-light);
  --text: var(--text-light);
  --border: var(--border-light);
  --trigger-bg: #ffffff;
}

.dark {
  --background: var(--background-dark);
  --text: var(--text-dark);
  --border: var(--border-dark);
  --trigger-bg: #1e1e1e;
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.SeparatorRoot {
	background-color: var(--violet-6);
}

.SeparatorRoot[data-orientation="horizontal"] {
	height: 1px;
	width: 100%;
}

